*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(0, 0, 22);
    
    header{
        background-color: white;
        width: 100%;
        h1{
            font-size: 6.5vw;
            text-align: center;
        }
    }
    main{
        article{
            color: white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 90%;
            h2{
                margin-left: 4vw;
                font-size: 7vw;
                padding: 1vw;
                padding-top: 4vw;
            }
            p{
                margin: 5vw;
                font-size: 5vw;
            }
        }
        a{
            position: absolute;
            bottom: 0;
            right: 0;
            img{
                height: 20vh;
            }
        }
   }
   footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    nav{
        display: flex;
        justify-content: center;
        a{
            padding: 1.5vw;
            font-size: 6vw;
            color: black;
            &:hover{
                color: rgb(250, 0, 175);
            }
        }
    }
}
}
